# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\milos\IdeaProjects\upinf_proj\studsluzba-jpa-model-podataka-i-sloj-za-pristup-podacima-cmiljanovicpaunovic\studsluzba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
