# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Nikola\Desktop\studsluzba-jpa-model-podataka-i-sloj-za-pristup-podacima-cmiljanovicpaunovic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
